[Unit]
Description=OpenSSH per-connection server daemon
After=syslog.target auditd.service

[Service]
EnvironmentFile=/etc/sysconfig/sshd
ExecStartPre=@@LIBEXECDIR@@/sshd-keygen
ExecStart=-/usr/sbin/sshd -i $OPTIONS
StandardInput=socket
